:root {
  --pakistan-green: #006600ff;
  --ash-gray: #b3bfb8ff;
  --mint-cream: #f0f7f4ff;
  --magic-mint: #a2e3c4ff;
  --gunmetal: #232c33ff;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: var(--mint-cream);
  color: var(--gunmetal);
}

h1 {
  text-align: center;
  color: var(--pakistan-green);
}

.navbar {
  background-color: var(--gunmetal);
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: var(--mint-cream);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--magic-mint);
}

dt {
  font-weight: bold;
  color: var(--pakistan-green);
}
